#bottomNav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

}

.bottomNavItem{
    color: #FFF;
    background-color: #1673A7;
    margin-left: auto;
    margin-right: auto;

}

div{
    background-color: #1673A7;
    margin: auto;
    margin-top: 25px;
   
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1673A7;
    color: #FFF;
}